---
:from: МИНСК
:to: ГРОДНО
:when: 26.04.2013

# :ob - общие; :s - сидячие; :p - плацкартные; :k - купейные, :sv - св, :m - мягкие;
:check:
- "615Б ГОМЕЛЬ ПАС - ГРОДНО":
  - :p
  - :k
- "392В УНЕЧА - ГРОДНО":
  - :p
  - :k

# optional
:delay: 30

# optional
:notify:
- :email:
    :to: to@email
    :from: from@email
    # :subject: Ticket notification
    :server: smtp_server
    # :login: login
    # :password: password
    # :authtype: :plain
- :beep:
    # :frequency: 2000
    # :duration: 500
    # :times: 3
- :sound:
    # :file: c:\Windows\Media\chimes.wav
- :msg:
    # :title: Check

# optional
:login:
  :username: MyUsername
  :password: MyPassword

# optional
:start_page: "https://poezd.rw.by"
